custom/zsh

vim/.vim/backups
vim/.vim/view
*un~
vim/.vim/.netrwhist
vim/.vim/tmp
vim/.vim/spell
vim/.vim/after/.vimrc.after
vim/.vim/.vundles.local
vim/.vim/.vundles.local.bak
vim/.vim/bundle
vim/.vim/sessions
.netrwhist
bin/subl
tags
