[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "spacemacs"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
